
body {
  font-size: 16px;
}

.calendar-rectangle {
  width: 100%;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  color: #616161;
  font-size: 1em;
  font-family: 'Dosis', sans-serif;
  overflow: hidden;
  box-shadow: 0px 0px 50px #888888;
  
  @media (min-width: 576px) { 
    width:70%;
  }

  @media (min-width: 768px) {
    width:50%;
    font-size: 1em;
  }

  @media (min-width: 992px) {
    width:40%;
    font-size: 1em;
  }

  @media (min-width: 1200px) {
    width:30%;
    font-size: 1em;
  }
  
  @media (min-width: 1300px) {
    width: 20%;
  }

}

.calendar-content {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.main-calendar {
	width: 400px;
  height: 500px;
  display: flex;
	flex-wrap: wrap;
	
}

  .calendar-header {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 30%;
		color: #ffffff;
	}

    .title-header {
      width: 100%;
      height: 70%;
      white-space: nowrap;
      font-size: 1.2em;
			background-color: #1e88e5;
		}

      .header-text {
        flex: 5;
        display: flex;
				height: 100%;
			}

        .today-label {
          flex: 1;
					font-size: 0.8em;
				}
          
          .hover{
            cursor: pointer;
            color: #1e88e5;
            background-color: #ffffff;
           
          }
          
        

        .month-label {
          flex: 3;
        }
      
    

    .days-header {
      width: 100%;
      height: 30%;
      background-color: #2196f3;
    }

    .button-container {
      width: 100%;
      height: 30%;
			background-color: #2196f3;
		}
      .event-button {
        flex-grow: 1;
        display: flex;
        height: 100%;
        align-items: center;
				justify-content: center;
			}

        .hover {
          background-color: #fff;
          color: #2196f3;
        }
      
    
  

  .days-container {
    width: 100%;
    height: 70%;
		background: #ffffff;
	}

    .week {
      height: 15%;
    }
	

  .day-events {
    position: relative;
    width: 100%;
    height: 70%;
    background-color: #ffffff;
		font-size: 1.2em;
	}

    .event-container {
      width: 100%;
      text-align: center;
			display: flex;
		}

      .hover {
        cursor: pointer;
      }


      .animated-time {
				width: 30%;
			}
      

      .animated-title {
				width: 70%;
			}

      
      .event-attribute {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        box-sizing: border-box;
        padding: 5px;
      }
    
  

.row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.box {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  height: 100%;
	transition: all 0.4s ease-in-out 0s;
}

  .arrow {
	}
    .hover {
      background-color: white;
      cursor: pointer;
      color: #1e88e5;
      transition: all 0.2s ease-in-out 0s;
    }
  


.day {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
	height: 100%;
}

  .day-number {
    width: 80%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #ffffff;
    box-sizing: border-box;
    border-radius: 50%;
  }

  .hover {
	}
    .day-number {
      cursor: default;
      background-color: #90caf9;
      color: #ffffff;
      transition: background-color 0.2s ease-in-out 0s;
    }
  

  .today {
	}
    .day-number {
			background-color: #90caf9;
			color: #1e88e5;
     border: 1px solid #90caf9;
    }
  

  .has-events {
	}
    .day-number {
      color: #1e88e5;
      font-weight: bold;
    }
  

  .selected {
	}
    .day-number {
    }
  

  .different-month {
    opacity: 0.5;
  }
